// colours
$colour1: rgba(0, 0, 0, 0.25);
$colour2: #00CFFF;
$colour3: #00E2AC;
$colour4: #EEFDF9;
$white: white;
$black: black;
$light-blue: #00CFFF;

.hero {
  font-family: "Roboto", serif;
  text-align: center;
  min-height: 800px;
  background-size: cover;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    line-height: 55px;
    font-size: 72px;
  }

  h2 {
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 40px;
    line-height: 40px
  }

  &.landscape {
      color: $white;
    }

  &.bridge {
    background-image: url("../img/bridge/full-width.jpg");
    width: 100%;
  }
}


#intro {
  h1 {
    text-shadow: 0px 5px 5px;
    color: $colour1;
  }

  h5 {
    text-shadow: 0px 5px 5px;
    color: $colour1;
  }

  h5 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
  }
}

#sidebar-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  width: 0px;
  height: 100%;
  padding-top: 10px;
  color: white;
  font-family: "Roboto", Serif;
  background: #000;
  z-index: 2;
  overflow: hidden;
  transition: all 0.5s ease;

  h2 {
      padding: 0px;
      margin: 4px;
      font-size: 40px;
      line-height: 40px;
    }
  a {
      color: white;
      margin-left: 10px;
      font-size: 24px;
    }
  &.open {
      width: 320px !important;
    }
  .sidebar-links {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

#hamburger {
  display: flex;
  cursor: pointer;
  position: fixed;
  height: 34px;
  width: 40px;
  left: 30px;
  top: 20px;
  z-index: 1;
  background-color: black;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  img {
    width: 30px;
    height: 30px;
  }
  &:hover {
    background: $light-blue;
  }
}

#close-btn {
  align-self: flex-start;
  margin-left: 30px;
  margin-top: 10px;
  color: white;
  cursor: pointer;

  &:hover {
    opacity: .5;
  }

  img {
    width: 30px;
    height: 30px;
  }
}

.cta {
  background-color: $black;
  color: $white;
  padding: 0px;
  width: 180px;
  font-size: 18px;
  line-height: 50px;
  border-style: none;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background: $colour2;
  }
}



#about {
  min-height: 0px;

  .right-col {
    text-align: left;
    padding: 20px;

    h5 {
      font-size: 24px;
      line-height: 30px;
    }
  }

  .left-col {
    color: $colour3;
    padding: 20px;
    text-align: right;
    text-transform: uppercase;
    font-weight: 700;

    h2 {
      margin-top: 0px;
      margin-bottom: 0px;
      font-size: 60px;
      font-weight: 700;
      line-height: 55px;
    }
  }
}

#gallery {
  background-color: $colour4;
  padding: 0px;
  margin: 0px;

  .col-md-4 {
    overflow: hidden;
    padding-top: 0px;
    padding-right: 5px;
    padding-bottom: 10px;
    padding-left: 5px;

    img {
      height: 100%;
      max-width: 390px;
      max-height: 280px;
    }
  }
}



#contact {
  text-align: center;

  p {
    max-width: 740px;
    text-align: center;
    margin-bottom: 40px;
    font-size: 24px;
  }
}

#social {
  padding: 20px;

  a {
    margin: 0 10px 0 10px;
    text-decoration: none;
  }

  img {
    height: 20px;

    &:hover {
      opacity: .5;
    }
  }
}


#footer {
  height: 40px;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 150px;
  display: flex;
  align-items: center;
  flex-direction: row;

  a {
    color: black;
    margin-right: 20px;
    margin-left: 5px;
    font-size: 16px;
    padding: 0px;
    line-height: 40px;
  }

  .footer-item {
    flex: 1;
    max-width: 100px;
  }

  .copyright {
    margin-left: auto;
    color: $colour3;
  }
}

@media only screen and (max-width: 480px) {
  #intro {
    min-height: 640px;
  }
  .left-col h2 {
    font-size: 42px;
    line-height: 40px;
  }
  #footer {
    margin-left: 20px;
    margin-right: 20px;
  }
  #footer h4 {
    padding-right: 20px;
  }
}

@media only screen and (max-width: 992px) {
  .row {
		width: 100%;
  }
  .col-md-4 {
    width: 100%; }
  .col-md-4 img {
    width: 100%;
    max-width: 992px;
    max-height: 900px;
  }
}
